<!--<mat-accordion>
    <mat-expansion-panel *ngFor="let panel of getPanels(); index as i">
        <mat-expansion-panel-header>
            <mat-panel-title>
            {{i+1}}. {{getPanelTitle(panel)}}
            </mat-panel-title>

        </mat-expansion-panel-header>
        <app-contentrenderer [content]="getPanelContent(panel)"></app-contentrenderer>
    </mat-expansion-panel>
</mat-accordion>-->

<div *ngFor="let panel of getPanels(); index as i">
    <h1>
        {{getPanelTitle(panel)}} 
    </h1>
    <app-contentrenderer [content]="getPanelContent(panel)"></app-contentrenderer>
</div>