.person-card{
    margin-bottom: 20px;
}
.mat-card-image:hover{
    transform: scale(0.99);
    cursor: pointer;
}
.mat-card:hover .mat-card-title {color: rgb(184, 51, 51)}

.mat-card-title{
    cursor: pointer;
}
