<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
    <div class="example-button-container">
        <mat-icon>{{getGroupIcon()}}</mat-icon>
    </div>
    <h1>{{getGroupText()}}</h1>
</div>
<div fxLayout="row wrap" fxLayoutGap="20px" fxLayout.lt-md="column">
    <div *ngFor="let person of getPeople()" class="person-card"  fxFlex="30" fxLayoutAlign="space-around stretch">
        <mat-card>
            <mat-card-header>
                
                <mat-card-title (click)="clickDetails(person)">{{person.name}}</mat-card-title>
                <mat-card-subtitle>
                    {{person.title}}
                </mat-card-subtitle>
            </mat-card-header>
            <img class='mainimage' mat-card-image src="../../../../assets/img/{{person.img}}" alt="{{person.name}}, {{person.title}}" (click)="clickDetails(person)">
            <mat-card-content><p>{{person.bio}}</p></mat-card-content>
            
            <mat-card-actions fxLayoutAlign="end">
                <div class="person-button-row">
                    <button mat-stroked-button (click)="clickDetails(person)">
                        details
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
