<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
    <div class="example-button-container">
        <mat-icon>{{getGroupIcon()}}</mat-icon>
    </div>
    <h1>{{getGroupText()}}</h1>
</div>
<div fxLayout="row wrap" fxLayoutGap="20px" fxLayout.lt-md="column">
    <div *ngFor="let person of getPeople()" class="person-card"  fxFlex="30" fxLayoutAlign="space-around stretch">
        <mat-card>
            <mat-card-header>
                
                <mat-card-title class="longname" *ngIf="longName(person)" routerLink="/professional/{{person.id}}" (click)="clickDetails(person)">
                    {{getName(person)}}
                </mat-card-title>
                <mat-card-title *ngIf="!longName(person)" routerLink="/professional/{{person.id}}" (click)="clickDetails(person)">
                    {{getName(person)}}
                </mat-card-title>
                
                <mat-card-subtitle *ngIf="hasTitle(person)" routerLink="/professional/{{person.id}}">
                    {{getTitle(person)}}
                </mat-card-subtitle>
                <mat-card-subtitle class="dummy" *ngIf="!hasTitle(person)" routerLink="/professional/{{person.id}}">
                    -
                </mat-card-subtitle>
            </mat-card-header>
            <img routerLink="/professional/{{person.id}}" mat-card-image src="../../../../assets/img/profiles/{{person.img}}" alt="{{person.name}}, {{person.title}}" (click)="clickDetails(person)">
            <mat-card-content><p>{{getBio(person)}}</p></mat-card-content>
            
            <mat-card-actions fxLayoutAlign="end">
                <div class="person-button-row">
                    <button routerLink="/professional/{{person.id}}" mat-stroked-button (click)="clickDetails(person)">
                        {{getDetails()}}
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<!--
<table>
    <tr>
        <td>id</td>
        <td>title</td>
        <td>qualifications</td>
        <td>name</td>
        <td>specialties</td>
        <td>education</td>
        <td>career</td>
        <td>memberships</td>
        <td>publications</td>
        <td>titleJP</td>
        <td>nameJP</td>
        <td>bioJP</td>
        <td>specialtiesJP</td>
        <td>educationJP</td>
        <td>careerJP</td>
        <td>membershipsJP</td>
        <td>publicationsJP</td>

        <td>groups</td>
    </tr>
    <tr *ngFor="let person of getPeople()">
        <td>{{person.id}}</td>
        <td>{{person.title}}</td>
        <td>{{person.qualifications}}</td>
        <td>{{person.name}}</td>
        <td>
            <div *ngFor="let item of person.specialties">
                <span>{{item.text}}</span>
            </div>
        </td>
        <td>
            <div *ngFor="let item of person.education">
                <span>{{item.text}}</span>
            </div>
        </td>
        <td>
            <div *ngFor="let item of person.career">
                <span>{{item.text}}</span>
            </div>
        </td>
        <td>
            <div *ngFor="let item of person.memberships">
                <span>{{item.text}}</span>
            </div>
        </td>
        <td>
            <div *ngFor="let item of person.publications">
                <span>{{item.text}}</span>
            </div>
        </td>
        <td>{{person.titleJP}}</td>
        <td>{{person.nameJP}}</td>
        <td>{{person.bioJP}}</td>
        <td>
            <div *ngFor="let item of person.specialtiesJP">
                <span>{{item.text}}</span>
            </div>
        </td>
        <td>
            <div *ngFor="let item of person.educationJP">
                <span>{{item.text}}</span>
            </div>
        </td>
        <td>
            <div *ngFor="let item of person.careerJP">
                <span>{{item.text}}</span>
            </div>
        </td>
        <td>
            <div *ngFor="let item of person.membershipsJP">
                <span>{{item.text}}</span>
            </div>
        </td>
        <td>
            <div *ngFor="let item of person.publicationsJP">
                <span>{{item.text}}</span>
            </div>
        </td>
        <td>{{person.groups}}</td>

    </tr>
</table>
-->