.xsmall{
    width: 50px;
}
.small{
    width: 250px;
}
.medium{
    width: 450px;
}
.half{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

.full{
    width:100%;
}