<div fxLayout="row wrap" fxLayoutGap="20px" fxLayout.lt-md="column">
    <div *ngFor="let pub of getPubs()" class="pub-card"  fxFlex="46" fxLayoutAlign="space-around stretch">
        <mat-card>
            <mat-card-header>
                
                <mat-card-title routerLink="/publicationpage" (click)="clickDetails(pub)">{{getTitle(pub)}}</mat-card-title>
                <mat-card-subtitle>
                    {{getPubDate(pub)}}
                </mat-card-subtitle>
            </mat-card-header>
            <a routerLink="/publicationpage"  (click)="clickDetails(pub)">
                <img class='mainimage' mat-card-image src="../../../../assets/img/books/{{pub.img}}" alt="{{getTitle(pub)}}, {{getPubDate(pub)}}">
            </a>
            <mat-card-content><p>{{getShort(pub)}}</p></mat-card-content>
            
            <mat-card-actions fxLayoutAlign="end">
                <a routerLink="/publicationpage"  (click)="clickDetails(pub)">
                    <div class="person-button-row">
                        <button mat-stroked-button>
                            {{getDetails()}}
                        </button>
                    </div>
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>