/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */

html, body { margin:0;height: 100%; font-family: 'crimsontext';}
body { overflow-x: hidden; margin: 0; font-family: 'crimsontext' !important;}

h1
{
    font-family: 'crimsontext';
    font-size: 250%;
    color:black;
}
h2
{
    font-family: 'crimsontext';
    font-weight: lighter;
    font-size: 200%;
    color: black;
}
h3
{
    font-family: 'crimsontext';
    font-weight: lighter;
    font-size: 150%;
    color: rgb(184, 51, 51);
}
h4
{
    font-family: 'crimsontext';
    font-weight: lighter;
    font-size: 100%;
    color: rgb(184, 51, 51);
}
.smallfont
{
    font-size: 80%;
}
.lightfont
{
    font-weight: lighter;
    color: grey;
}
.tooltipclass
{
    background: rgb(184, 51, 51);
}

