a {
    color: black;
    text-align: center;
    display: inline-block;
}
a:hover, a:active {
    color: rgb(184, 51, 51);
}
a:active {
    background-color: rgb(250,250,250);
}
.activenav{
    color: rgb(184, 51, 51);
}
.mat-card{
    font-family: 'crimsontext';
}
.mat-card-image:hover{
    transform: scale(0.99);
    cursor: pointer;
}