<mat-card>
    <mat-card-title>Welcome Message</mat-card-title>
    <img mat-card-image src='../../../../assets/img/yasuhiroohtsuka_large.jpg'>
    
    <!-- TODO put placeholder for text here, move all text from here to array that has descriptions, use langservice to toggle between different langauges-->
    <div class='content'>
        <p *ngFor="let para of getParas()">
            {{para}}
        </p>
    </div>
    <div class='signature'>
        <span *ngFor="let line of getSignature()">
            {{line}}<br>
        </span>
    </div>

</mat-card>