<mat-card>
    <mat-card-title>Welcome Message</mat-card-title>
    <img mat-card-image src='../../../../assets/img/yasuhiroohtsuka_large.jpg'>
    <div class='content'>
        <p>Thanks to everyone’s support, we were able to celebrate the 46th anniversary of our founding in April 1974.</p>
        <p>We are pleased to inform everyone that Ohtsuka Patent Office incorporated into Ohtsuka Patent Office, P.C. in October 2020.</p>
        <p>We look forward to our continued growth and to providing a wider assortment of services under the corporation to our valued clients, to whom we owe a debt of gratitude for our growth and success.</p>
        <p>We have enhanced our strengths by building a team with highly experienced patent attorneys and engineers with knowledge in a wide range of technical fields, many of whom have considerable corporate and industry experience, were past patent examiners at the JPO, and have bilingual talent.</p>
        <p>Our practice focuses on acquiring, protecting and exploiting patents and other IP assets. We have, in the last five years alone, obtained around 7,700 patents in Japan and around 8,000 patents abroad in various technical fields, such as IT-related technologies, telecommunications, semiconductors and related technologies, automobiles and mechanical devices, gaming, medical fields, as well as chemical fields.</p>
        <p>Our skills and experiences, honed through extensive patent prosecutions, have been proven to be second to none in many patent litigations.</p>
        <p>From patent litigation cases involving SEPs related to telecommunications and pharmaceuticals, to extensive patent prosecution experience, we have a tried and tested history of success as an all-round player in the dynamic world of IP.</p>
        <p>Furthermore, we recognize that designs and trademarks are also essential for maximizing product value and increasing market share in increasingly competitive markets. At Ohtsuka Patent Office, we work hard to support our clients in the creation and enforcement of design and trademark rights.</p>
        <p>The growth of our firm is testament to our ambition and dedication to our clients in realizing their goals as technology continues to evolve. We will continually keep ahead with the complex world of new technologies to provide an excellent and timely service to our clients.</p>
        <p class='signature'>
        Yasunori Ohtsuka,<br>
        Managing Partner
        </p>
    </div>
</mat-card>