h1 {font-family: 'crimsontext';}
.mat-tab-label{
    color: black !important;
}
::ng-deep .mat-list .mat-list-item .mat-line{
    word-wrap: break-word;
    white-space: pre-wrap;
}
.mat-card{
    margin: 1px;
}