<h2>CAFC判決</h2>
<br>

<table>
<tr><td>
<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Keyword search</mat-label>
        <input matInput placeholder="例：新規性" [(ngModel)]="this.keyword" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
</form>
</td><td><span>{{getSearchResultsCount()}}</span></td></tr></table>

<div *ngFor="let report of getCAFCReports()" class="cafc-card">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                    <a routerLink="/cafcreport" (click)=clickDetails(report)>
                        {{getTitle(report)}}
                    </a>
            </mat-card-title>
            
            <mat-card-subtitle>
                {{getPreview(report)}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content><p>{{getContent(report)}}</p></mat-card-content>
        <mat-card-actions fxLayoutAlign="end">
            <div class="cafcreport-button-row">
                <a routerLink="/cafcreport" (click)=clickDetails(report)>
                    <button mat-stroked-button>
                        もっと見る
                    </button>
                </a>
            </div>
        </mat-card-actions>
    </mat-card>
    <br>
</div>
<!--
<table>
    <tr>
        <td>title</td>
        <td>authors</td>
        <td>caseno</td>
        <td>reportyear</td>
        <td>reportmonth</td>
        <td>reportdate</td>
        <td>preview</td>
        <td>content</td>
    </tr>
    <tr *ngFor="let report of getCAFCReports()">
    <td>{{getTitle(report)}}</td>
    <td>{{getReportAuthors(report)}}</td>
    <td>{{getCaseNo(report)}}</td>
    <td>{{getReportYear(report)}}</td>
    <td>{{getReportMonth(report)}}</td>
    <td>{{getReportDate(report)}}</td>
    <td>{{getPreview(report)}}</td>
    <td>
        <div *ngFor="let content of getReportContent(report)">

            <h2 *ngIf="content.type == 'sub'" class='subtitle'>
                <span *ngFor="let element of content.elements">
                    {{element.text}}
                </span>
            </h2>
        
            <p *ngIf="content.type == 'para'">
                <span *ngFor="let element of content.elements">
                    <a *ngIf="element.link!=''; else notALink" href='{{element.link}}'>
                        {{element.text}}
                    </a>
                    <ng-template #notALink>
                        {{element.text}}
                    </ng-template>
                </span>
            </p>
        
            <ol *ngIf="content.type == 'num'">
                <li *ngFor="let element of content.elements">
                    <a *ngIf="element.link!=''; else notALink" href='{{element.link}}'>
                        {{element.text}}
                    </a>
                    <ng-template #notALink>
                        {{element.text}}
                    </ng-template>
                </li>
            </ol>
        
            <ul *ngIf="content.type == 'unnum'">
                <li *ngFor="let element of content.elements">
                    <a *ngIf="element.link!=''; else notALink" href='{{element.link}}'>
                        {{element.text}}
                    </a>
                    <ng-template #notALink>
                        {{element.text}}
                    </ng-template>
                </li>
            </ul>
            
            <mat-card *ngIf="content.type == 'point'">
                <h1>
                        Key Point            
                </h1>
                <p *ngFor="let element of content.elements">
                    <a *ngIf="element.link!=''; else notALink" href='{{element.link}}'>
                        {{element.text}}
                    </a>
                    <ng-template #notALink>
                        {{element.text}}
                    </ng-template>
                </p>
            </mat-card>
        </div>
    </td>


    </tr>
</table>-->