<h2>CAFC判決</h2>
<br>

<table>
<tr><td>
<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Keyword search</mat-label>
        <input matInput placeholder="例：新規性" [(ngModel)]="this.keyword" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
</form>
</td><td><span>{{getSearchResultsCount()}}</span></td></tr></table>

<div *ngFor="let report of getCAFCReports()" class="cafc-card">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                    <a routerLink="/cafcreport" (click)=clickDetails(report)>
                        {{getTitle(report)}}
                    </a>
            </mat-card-title>
            
            <mat-card-subtitle>
                {{getPreview(report)}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content><p>{{getContent(report)}}</p></mat-card-content>
        <mat-card-actions fxLayoutAlign="end">
            <div class="cafcreport-button-row">
                <a routerLink="/cafcreport" (click)=clickDetails(report)>
                    <button mat-stroked-button>
                        もっと見る
                    </button>
                </a>
            </div>
        </mat-card-actions>
    </mat-card>
    <br>
</div>