<div>
    <mat-card class="person-card">
        <mat-card-header>
            <mat-card-title>{{getPerson().name}}</mat-card-title>
            <mat-card-subtitle>{{getPerson().title}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div id='personimgdiv'>
                <img fxShow="true" fxHide.lt-md="true" src="../../../../assets/img/profiles/{{getPerson().imglarge}}" alt="{{getPerson().name}}, {{getPerson().title}}">
                <img width=100% fxHide fxShow.lt-md src="../../../../assets/img/profiles/{{getPerson().img}}" alt="{{getPerson().name}}, {{getPerson().title}}">
            </div>
            <br>
            <mat-divider></mat-divider>
            <div *ngIf="getSpecialties()!=null">
                <h2>{{getSpecialitiesHeading()}}</h2>
                <p *ngFor="let item of getSpecialties()">
                    {{item.text}}
                </p>
            </div> 
            <mat-divider *ngIf="getPerson().specialties!=null"></mat-divider>
            <div *ngIf="getPerson().education!=null">
                <h2>Education</h2>
                <p *ngFor="let item of getPerson().education">
                    {{item.text}}
                </p>
            </div> 
            <mat-divider *ngIf="getPerson().education!=null"></mat-divider>
            <div *ngIf="getPerson().career!=null">
                <h2>Career</h2>
                <p *ngFor="let item of getPerson().career">
                    {{item.text}}
                </p>
            </div> 
            <mat-divider *ngIf="getPerson().career!=null"></mat-divider>
            <div *ngIf="getPerson().memberships!=null">
                <h2>Memberships</h2>
                <p *ngFor="let item of getPerson().memberships">
                    {{item.text}}
                </p>
            </div> 
            <mat-divider *ngIf="getPerson().memberships!=null"></mat-divider>
            <div *ngIf="getPerson().publications!=null">
                <h2>Publications</h2>
                <p *ngFor="let item of getPerson().publications">
                    {{item.text}}
                </p>
            </div> 
        </mat-card-content>
    </mat-card>
</div>

    