<div>
    <mat-card class="person-card">
        <mat-card-header>
            <mat-card-title>{{person.name}}</mat-card-title>
            <mat-card-subtitle>{{person.title}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div id='personimgdiv'>
                <img src="../../../../assets/img/profiles/{{person.imglarge}}" alt="{{person.name}}, {{person.title}}">
            </div>
            <br>
            <div>
                <h2>Bio</h2>
                <p>{{person.bio}}</p>
            </div>
            <mat-divider></mat-divider>
            <div *ngIf="person.specialties!=null">
                <h2>Specialties</h2>
                <p *ngFor="let item of person.specialties">
                    {{item.text}}
                </p>
            </div> 
            <mat-divider *ngIf="person.specialties!=null"></mat-divider>
            <div *ngIf="person.education!=null">
                <h2>Education</h2>
                <p *ngFor="let item of person.education">
                    {{item.text}}
                </p>
            </div> 
            <mat-divider *ngIf="person.education!=null"></mat-divider>
            <div *ngIf="person.career!=null">
                <h2>Career</h2>
                <p *ngFor="let item of person.career">
                    {{item.text}}
                </p>
            </div> 
            <mat-divider *ngIf="person.career!=null"></mat-divider>
            <div *ngIf="person.memberships!=null">
                <h2>Memberships</h2>
                <p *ngFor="let item of person.memberships">
                    {{item.text}}
                </p>
            </div> 
            <mat-divider *ngIf="person.memberships!=null"></mat-divider>
            <div *ngIf="person.publications!=null">
                <h2>Publications</h2>
                <p *ngFor="let item of person.publications">
                    {{item.text}}
                </p>
            </div> 
        </mat-card-content>
    </mat-card>
</div>

    