<header *ngIf="!isSplashPage()">
    <!-- PC VIEW -->
    <div fxShow fxHide.lt-md fxLayout='row' fxLayoutAlign='space-between center'>
        <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap="8px">
            <a routerLink="/home" (click)="clickHome()">
                <img src='../../../../assets/img/oLogo.png' height="56px">
            </a>
            <mat-divider [vertical]="true"></mat-divider>
            <div>
                <a routerLink="/home" (click)="clickHome()">
                    <span fxShow fxHide.lt-md class='xlargetext'>
                        {{getText("firmname_pc")}}
                    </span>
                </a>
            </div>
        </div>

        <div fxLayout='row' fxLayoutAlign='start start'>        
            <div class='largetext' fxLayout='row' [fxShow]="true" [fxHide.lt-md]="true" fxLayoutGap='5px'>
                <a class="headerlink" routerLink="/home" (click)="clickHome()" [ngClass]="{'activenav': isHome() }">{{getText("home")}}</a>
                <mat-divider [vertical]="true"></mat-divider>
                <a class="headerlink" routerLink="/aboutpage" (click)="clickAboutus()" [ngClass]="{'activenav': isAboutus()}">{{getText("aboutus")}}</a>
                <mat-divider [vertical]="true"></mat-divider>
                <a class="headerlink" routerLink="/patentspage" (click)="clickOurservices()" [ngClass]="{'activenav': isOurservices()}">{{getText("ourservices")}}</a>
                <mat-divider [vertical]="true"></mat-divider>
                <a class="headerlink" routerLink="/pro-practiceareas" (click)="clickProfessionals()" [ngClass]="{'activenav': isProfessionals()}">{{getText("professionals")}}</a>
                <mat-divider [vertical]="true" *ngIf="isJapanesePage()"></mat-divider>
                <a class="headerlink" routerLink="/cafcall" (click)="clickCAFCReports()" [ngClass]="{'activenav': isCafcreports()}" *ngIf="isJapanesePage()">{{getText("cafcreports")}}</a>
                <mat-divider [vertical]="true"></mat-divider>
                <a *ngIf="isEN()" class="headerlink" routerLink="/careerspage" (click)="clickCareers()" [ngClass]="{'activenav': isCareers()}">{{getText("careers")}}</a>
                <a *ngIf="!isEN()" class="headerlink" routerLink="/setsumeikaipage" (click)="clickCareers()" [ngClass]="{'activenav': isCareers()}">{{getText("careers")}}</a>
                
            </div>
        </div>
    </div>

    <!-- MOBILE VIEW -->
    <div fxHide fxShow.lt-md fxLayout='row' fxLayoutAlign='space-between center'>    
        <div fxHide fxShow.sm class='xxlargetext' fxLayout='row'fxLayout='row' fxLayoutAlign='end center' fxLayoutGap="28px">
            <a routerLink="/home" (click)="clickHome()">
                <img fxHide fxShow.sm src='../../../../assets/img/oLogo.png' height="56px">
            </a>
            <a routerLink="/home" (click)="clickHome()">
                <span>{{getText("firmname_mobile_ltmd")}}</span>
            </a>
        </div>
        <div fxHide fxShow.xs fxLayout='row' fxLayoutAlign='end center' fxLayoutGap="18px">
            <img src='../../../../assets/img/oLogo.png' height="56px">
            <span class='xlargetext'>{{getText("firmname_mobile_xs")}}</span>
        </div>
        <div>
            <button mat-icon-button color="highlight" aria-label="Open the site map" (click)="openSitemap()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
    </div>

</header>
<mat-divider *ngIf="!isSplashPage()" class='colored'></mat-divider>

<div class="headeroverlay" *ngIf="isSplashPage()"  fxLayout="column" fxLayoutAlign="start center">
    <button mat-stroked-button color="accent" [matTooltip]="getMenuToolTip()" (click)="openSitemap()">
        <mat-icon>menu</mat-icon>
    </button>
    <div [matTooltip]="getLangToggleToolTip()" class='linkdiv' (click)="toggleLang()">
        <button mat-stroked-button>
            <img [src]='getLangImgSrc()' height='32px'>
        </button>
    </div>
</div>