header {
    padding: 10px;
    color: black;
    background-color: white;
    font-family: 'crimsontext';
}
.headeroverlay{
    z-index: 5;
}
.largetext{
    font-size: large;
}
.xlargetext{
    font-size: 26px;
}
.xxlargetext{
    font-size: xx-large;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: rgb(184, 51, 51);
}
.headerlink {
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.headerlink:hover, .headerlink:active {
    color: rgb(184, 51, 51);
}
.headerlink:active {
    background-color: rgb(250,250,250);
}
.activenav{
    color: rgb(184, 51, 51);
}

.whiteonblack {
    color: white;
    background-color: black;
}

.mat-divider{
    background-color:rgb(200,200,200);
}
h3 {
    color: blue;
}
h2 {
    color: blue;
}

.headeroverlay {
    background-color: rgb(255,255,255,0);
    position: fixed;
    color: white;
    margin: 20px;
}