<div id='accessfrag' fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="20px">
    <app-officecard></app-officecard>

    <mat-card>
        <!-- <mat-card-title>{{getTitle()}}</mat-card-title> -->

        <!-- <img mat-card-image src='../../../../assets/img/yasunoriohtsuka_large.jpg'> -->
        <!-- TODO: Move maps from other officecar.component.ts to here -->

        <!-- <div class='content'>
            <p *ngFor="let para of getParas()">
                {{para}}
            </p>
        </div> -->
    </mat-card>
    <br><br>
</div>