<div fxLayout='column' fxLayoutAlign="start stretch" fxLayoutGap="20px">
    <div class='homediv' flexLayout='row' fxFlex fxLayoutAlign="space-between start" fxLayoutGap="20px">
        <!--PC-->
        <div fxFlex='20' fxShow="true" fxHide.lt-md>
            <app-sidebar [items]='homeitems' (itemClick)='setComponent($event)'></app-sidebar>
        </div>
        <div fxFlex='80' fxShow="true" fxHide.lt-md>
            <app-welcomemessage *ngIf="curComponent=='welcomemessage'"></app-welcomemessage>
            <app-news *ngIf="curComponent=='news'"></app-news>
            <app-contact *ngIf="curComponent=='contact'"></app-contact>
            <app-access *ngIf="curComponent=='access'"></app-access>
        </div>

        <!--MOBILE-->
        <div fxFlex='100' fxHide fxShow.lt-md>
            <app-welcomemessage ></app-welcomemessage>
            <br>
            <app-news></app-news>
            <br>
            <app-contact></app-contact>
        </div>
    </div>
</div>
