<div fxLayout="column" fxLayoutAlign="center stretch" class="videowrapper">
        <video class="videoinsert" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
            <source src="../../../../assets/video/splash.mp4" type="video/mp4">
        </video>
    
        <br>

        <div flexLayout='row' fxFlex  fxLayoutAlign="space-between start" fxLayoutGap="10px" fxLayout.lt-md="column">
            <div fxFlex="5"></div>
            <div fxFlex="25" fxLayoutAlign="space-around stretch">
                <app-cardrenderer [imgfilepath]="getWelcomeImage()" [content]="getWelcomeContent()" [title]="getWelcomeTitle()"></app-cardrenderer>
            </div>
            <div fxFlex="25" fxLayoutAlign="space-around stretch">
                <app-cardrenderer [imgfilepath]="getGuidanceImage()" [content]="getGuidanceContent()" [title]="getGuidanceTitle()"></app-cardrenderer>
            </div>
            <div fxFlex="25" fxLayoutAlign="space-around stretch">
                <app-cardrenderer [imgfilepath]="getTeamImage()" [content]="getTeamContent()" [title]="getTeamTitle()"></app-cardrenderer>
            </div>
            <div fxFlex="5"></div>
        </div>
        <div>
            <app-footer width=100%></app-footer>
        </div>
    </div>
    
    <div class="videooverlay" style="background-image: url('../../../../assets/img/indexlogo.png')">
</div>