<div fxLayout='column' fxLayoutAlign="start stretch" fxLayoutGap="20px" >
    <div flexLayout='row' fxFlex  fxLayoutAlign="space-between start" fxLayoutGap="20px">
        <!--PC-->
        <div fxFlex='5' fxShow="true" fxHide.lt-md="true">
        </div>
        <div fxFlex='20' fxShow="true" fxHide.lt-md="true">
            <app-sidebar [items]='professionalsitems' (itemClick)='setComponent($event)'></app-sidebar>
        </div>
        <div fxFlex='70' fxShow="true" fxHide.lt-md>
            <app-practiceareas *ngIf="curView=='practiceareas'"></app-practiceareas>
            <app-people *ngIf="curView=='peopleview'" [currentGroup]="curComponent" (detailsClick)='setPersonView($event)'></app-people>
            <app-person *ngIf="curView=='personview'" [person]="curPerson"></app-person>
        </div>
        <div fxFlex='5' fxShow="true" fxHide.lt-md="true">
        </div>
        <!--MOBILE-->
        <div fxFlex='100' fxHide fxShow.lt-md>
            <app-practiceareas *ngIf="curView=='practiceareas'"></app-practiceareas>
            <app-people *ngIf="curView=='peopleview'" [currentGroup]="curComponent" (detailsClick)='setPersonView($event)'></app-people>
            <app-person *ngIf="curView=='personview'" [person]="curPerson"></app-person>
        </div>
    </div>
</div>
        