<br>
<div>
    <div class='aboutusdiv' flexLayout='row' fxFlex fxLayoutAlign="space-between start" fxLayoutGap="20px">
        <!--PC-->
        <div fxFlex='5' fxShow="true" fxHide.lt-md="true">
        </div>
        <div fxFlex='20' fxShow="true" fxHide.lt-md="true">
            <app-sidebar [items]='aboutusitems'></app-sidebar>
        </div>
        <div fxFlex='70' fxShow="true" fxHide.lt-md>
            <app-about name="about" *ngIf="isAbout()"></app-about>
            <app-overview name="overview" *ngIf="isOverview()"></app-overview>
            <app-keyfeatures name="keyfeatures" *ngIf="isKeyfeatures()"></app-keyfeatures>
            <app-contact name="contact" *ngIf="isContact()"></app-contact>
        </div>
        <div fxFlex='5' fxShow="true" fxHide.lt-md="true">
        </div>
        <!--MOBILE-->
        <div fxFlex='100' fxHide fxShow.lt-md>
            <!-- the first one is whatever is set, then do the rest -->
            <app-about name="about" *ngIf="isAbout()"></app-about>
            <app-overview name="overview" *ngIf="isOverview()"></app-overview>
            <app-keyfeatures name="keyfeatures" *ngIf="isKeyfeatures()"></app-keyfeatures>
            <app-contact name="contact" *ngIf="isContact()"></app-contact>

            <br *ngIf="!isAbout()">
            <app-about name="about" *ngIf="!isAbout()"></app-about>
            <br *ngIf="!isOverview()">
            <app-overview name="overview" *ngIf="!isOverview()"></app-overview>
            <br *ngIf="!isKeyfeatures()">
            <app-keyfeatures name="keyfeatures" *ngIf="!isKeyfeatures()"></app-keyfeatures>
            <br *ngIf="!isContact()">
            <app-contact name="contact" *ngIf="!isContact()"></app-contact>
        </div>
    </div>
    <br>
</div>
<br>
<div>
    <app-footer width=100%></app-footer>
</div>
