<div fxLayout='column' fxLayoutAlign="start stretch" fxLayoutGap="20px" >
    <div class='aboutusdiv' flexLayout='row' fxFlex fxLayoutAlign="space-between start" fxLayoutGap="20px">
        <!--PC-->
        <div fxFlex='5' fxShow="true" fxHide.lt-md="true">
        </div>
        <div fxFlex='20' fxShow="true" fxHide.lt-md="true">
            <app-sidebar [items]='aboutusitems'></app-sidebar>
        </div>
        <div fxFlex='70' fxShow="true" fxHide.lt-md>
            <app-about name="about" *ngIf="isAbout()"></app-about>
            <app-overview name="overview" *ngIf="isOverview()"></app-overview>
            <app-keyfeatures name="keyfeatures" *ngIf="isKeyfeatures()"></app-keyfeatures>
            <app-access name="access" *ngIf="isAccess()"></app-access>
        </div>
        <div fxFlex='5' fxShow="true" fxHide.lt-md="true">
        </div>
        <!--MOBILE-->
        <div fxFlex='100' fxHide fxShow.lt-md>
            <!-- the first one is whatever is set, then do the rest -->
            <app-about name="about" *ngIf="isAbout()"></app-about>
            <app-overview name="overview" *ngIf="isOverview()"></app-overview>
            <app-keyfeatures name="keyfeatures" *ngIf="isKeyfeatures()"></app-keyfeatures>
            <app-access name="access" *ngIf="isAccess()"></app-access>

            <br *ngIf="!isAbout()">
            <app-about name="about" *ngIf="!isAbout()"></app-about>
            <br *ngIf="!isOverview()">
            <app-overview name="overview" *ngIf="!isOverview()"></app-overview>
            <br *ngIf="!isKeyfeatures()">
            <app-keyfeatures name="keyfeatures" *ngIf="!isKeyfeatures()"></app-keyfeatures>
            <br *ngIf="!isAccess()">
            <app-access name="access" *ngIf="!isAccess()"></app-access>
        </div>
    </div>
</div>
