<mat-card>
    <div class="container">
        <img mat-card-image src='../../../../assets/img/expertise.jpg'>
        <div>
            <mat-card-title>
                <app-titletext [title]="getTitle()"></app-titletext>
            </mat-card-title>
        </div>
    </div>
    <p *ngFor="let para of getParas()">
        {{para}}
    </p>
    <div>
        <mat-nav-list>
            <mat-list-item routerLink="/pro-patattorneys">
                <button class='teambutton' fxLayoutAlign='start start' mat-icon-button>
                    <mat-icon>{{getGroupIcon("pro-patattorneys")}}</mat-icon>
                    {{getGroupText("pro-patattorneys")}}
                </button>
            </mat-list-item>
            <mat-list-item routerLink="/pro-advisors">
                <button class='teambutton' fxLayoutAlign='start start' mat-icon-button>
                    <mat-icon>{{getGroupIcon("pro-advisors")}}</mat-icon>
                    {{getGroupText("pro-advisors")}}
                </button>
            </mat-list-item>
            <mat-list-item routerLink="/pro-patengineers">
                <button class='teambutton' fxLayoutAlign='start start' mat-icon-button>
                    <mat-icon>{{getGroupIcon("pro-patengineers")}}</mat-icon>
                    {{getGroupText("pro-patengineers")}}
                </button>
            </mat-list-item>
            <mat-list-item routerLink="/pro-international">
                <button class='teambutton' fxLayoutAlign='start start' mat-icon-button>
                    <mat-icon>{{getGroupIcon("pro-international")}}</mat-icon>
                    {{getGroupText("pro-international")}}
                </button>
            </mat-list-item>
        </mat-nav-list>
    </div>
</mat-card>
<br>
<h1>Practice Areas</h1>
<mat-card>
    <mat-card-title>{{getComputerTitle()}}</mat-card-title>
    <p *ngFor="let para of getComputerParas()">
        {{para}}
    </p>
    <mat-nav-list>
        <mat-list-item routerLink="/pro-infoproc">
            <button class='teambutton' fxLayoutAlign='start start' mat-icon-button>
                <mat-icon>{{getGroupIcon("pro-infoproc")}}</mat-icon>
                {{getGroupText("pro-infoproc")}}
            </button>
        </mat-list-item>
        <mat-list-item routerLink="/pro-comm">
            <button class='teambutton' fxLayoutAlign='start start' mat-icon-button>
                <mat-icon>{{getGroupIcon("pro-comm")}}</mat-icon>
                {{getGroupText("pro-comm")}}
            </button>
        </mat-list-item>
        <mat-list-item routerLink="/pro-elec">
            <button class='teambutton' fxLayoutAlign='start start' mat-icon-button>
                <mat-icon>{{getGroupIcon("pro-elec")}}</mat-icon>
                {{getGroupText("pro-elec")}}
            </button>
        </mat-list-item>
    </mat-nav-list>
</mat-card>
<br>
<mat-card>
    <mat-card-title>{{getMechanicalTitle()}}</mat-card-title>
    <p *ngFor="let para of getMechanicalParas()">
        {{para}}
    </p>
    <mat-nav-list>
        <mat-list-item routerLink="/pro-mech">
            <button class='teambutton' fxLayoutAlign='start start' mat-icon-button>
                <mat-icon>{{getGroupIcon("pro-mech")}}</mat-icon>
                {{getGroupText("pro-mech")}}
            </button>
        </mat-list-item>
    </mat-nav-list>
</mat-card>
<br>
<mat-card>
    <mat-card-title>{{getDesignTitle()}}</mat-card-title>
    <p *ngFor="let para of getDesignParas()">
        {{para}}
    </p>
    <mat-nav-list>
        <mat-list-item routerLink="/pro-designs">
            <button class='teambutton' fxLayoutAlign='start start' mat-icon-button>
                <mat-icon>{{getGroupIcon("pro-designs")}}</mat-icon>
                {{getGroupText("pro-designs")}}
            </button>
        </mat-list-item>
    </mat-nav-list>
</mat-card>
<br>
<mat-card>
    <mat-card-title>{{getMedicalTitle()}}</mat-card-title>
    <p *ngFor="let para of getMedicalParas()">
        {{para}}
    </p>
    <mat-nav-list>
        <mat-list-item routerLink="/pro-meddevices">
            <button class='teambutton' fxLayoutAlign='start start' mat-icon-button>
                <mat-icon>{{getGroupIcon("pro-meddevices")}}</mat-icon>
                {{getGroupText("pro-meddevices")}}
            </button>
        </mat-list-item>
    </mat-nav-list>
</mat-card>
<br>
<mat-card>
    <mat-card-title>{{getChemicalTitle()}}</mat-card-title>
    <p *ngFor="let para of getChemicalParas()">
        {{para}}
    </p>
    <mat-nav-list>
        <mat-list-item routerLink="/pro-chempharmabio">
            <button class='teambutton'  fxLayoutAlign='start start' mat-icon-button>
                <mat-icon>{{getGroupIcon("pro-chempharmabio")}}</mat-icon>
                {{getGroupText("pro-chempharmabio")}}
            </button>
        </mat-list-item>
    </mat-nav-list>
</mat-card>
<br>
<mat-card>
    <mat-card-title>{{getAmusementTitle()}}</mat-card-title>
    <p *ngFor="let para of getAmusementParas()">
        {{para}}
    </p>
    <mat-nav-list>
        <mat-list-item routerLink="/pro-toysgames">
            <button class='teambutton' fxLayoutAlign='start start' mat-icon-button>
                <mat-icon>{{getGroupIcon("pro-toysgames")}}</mat-icon>
                {{getGroupText("pro-toysgames")}}
            </button>
        </mat-list-item>
    </mat-nav-list>
</mat-card>
<br>
<mat-card>
    <mat-card-title>{{getLitigationTitle()}}</mat-card-title>
    <p *ngFor="let para of getLitigationParas()">
        {{para}}
    </p>
    <mat-nav-list>
        <mat-list-item routerLink="/pro-lit">
            <button class='teambutton' fxLayoutAlign='start start' mat-icon-button>
                <mat-icon>{{getGroupIcon("pro-lit")}}</mat-icon>
                {{getGroupText("pro-lit")}}
            </button>
        </mat-list-item>
    </mat-nav-list>
</mat-card>
