<div fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="20px">
    <mat-card>
        <div class="container">
            <img mat-card-image src='../../../../assets/img/expertise.jpg'>
            <div class="titletext"><mat-card-title>Our Technical Expertise</mat-card-title></div>
        </div>
        <p>At Ohtsuka Patent Office, our patent team provides dynamic services to help our clients turn their inventions (innovations) into globally valuable patent portfolios. Design is also an important part of maximizing the value of products and as such, we have strengthened our design team.</p>
        <div>
            <mat-nav-list>
                <mat-list-item (click)="groupView('patentattorneys')">
                    <button mat-icon-button>
                        <mat-icon>{{getGroupIcon("patentattorneys")}}</mat-icon>
                        {{getGroupText("patentattorneys")}}
                    </button>
                </mat-list-item>
                <mat-list-item (click)="groupView('advisors')">
                    <button mat-icon-button>
                        <mat-icon>{{getGroupIcon("advisors")}}</mat-icon>
                        {{getGroupText("advisors")}}
                    </button>
                </mat-list-item>
                <mat-list-item (click)="groupView('patentengineers')">
                    <button mat-icon-button>
                        <mat-icon>{{getGroupIcon("patentengineers")}}</mat-icon>
                        {{getGroupText("patentengineers")}}
                    </button>
                </mat-list-item>
                <mat-list-item (click)="groupView('internationalsupport')">
                    <button mat-icon-button>
                        <mat-icon>{{getGroupIcon("internationalsupport")}}</mat-icon>
                        {{getGroupText("internationalsupport")}}
                    </button>
                </mat-list-item>
            </mat-nav-list>
        </div>
    </mat-card>
    <br>
    <h1>Practice Areas</h1> 
    <mat-card>
        <mat-card-title>Computers and Electronics</mat-card-title>
        <app-computersblurb></app-computersblurb>
        <mat-nav-list>
            <mat-list-item (click)="groupView('infoproc_people')">
                <button mat-icon-button>
                    <mat-icon>{{getGroupIcon("infoproc_people")}}</mat-icon>
                    {{getGroupText("infoproc_people")}}
                </button>
            </mat-list-item>
            <mat-list-item (click)="groupView('comm_people')">
                <button mat-icon-button>
                    <mat-icon>{{getGroupIcon("comm_people")}}</mat-icon>
                    {{getGroupText("comm_people")}}
                </button>
            </mat-list-item>
            <mat-list-item (click)="groupView('semicon_people')">
                <button mat-icon-button>
                    <mat-icon>{{getGroupIcon("semicon_people")}}</mat-icon>
                    {{getGroupText("semicon_people")}}
                </button>
            </mat-list-item>
        </mat-nav-list>
    </mat-card>
    <mat-card>
        <mat-card-title>Mechanical</mat-card-title>
        <app-mechanicalblurb></app-mechanicalblurb>
        <mat-nav-list>
            <mat-list-item (click)="groupView('mech_people')">
                <button mat-icon-button>
                    <mat-icon>{{getGroupIcon("mech_people")}}</mat-icon>
                    {{getGroupText("mech_people")}}
                </button>
            </mat-list-item>
        </mat-nav-list>
    </mat-card>
    <mat-card>
        <mat-card-title>Designs</mat-card-title>
        <app-designsteamblurb></app-designsteamblurb>
        <mat-nav-list>
            <mat-list-item (click)="groupView('design_people')">
                <button mat-icon-button>
                    <mat-icon>{{getGroupIcon("design_people")}}</mat-icon>
                    {{getGroupText("design_people")}}
                </button>
            </mat-list-item>
        </mat-nav-list>
    </mat-card>
    <mat-card>
        <mat-card-title>Medical Devices</mat-card-title>
        <app-medicaldevicesblurb></app-medicaldevicesblurb>
        <mat-nav-list>
            <mat-list-item (click)="groupView('meddev_people')">
                <button mat-icon-button>
                    <mat-icon>{{getGroupIcon("meddev_people")}}</mat-icon>
                    {{getGroupText("meddev_people")}}
                </button>
            </mat-list-item>
        </mat-nav-list>
    </mat-card>
    <mat-card>
        <mat-card-title>Chemicals, Pharmaceuticals, Biological</mat-card-title>
        <app-chemicalsblurb></app-chemicalsblurb>
        <mat-nav-list>
            <mat-list-item (click)="groupView('science_people')">
                <button mat-icon-button>
                    <mat-icon>{{getGroupIcon("science_people")}}</mat-icon>
                    {{getGroupText("science_people")}}
                </button>
            </mat-list-item>
        </mat-nav-list>
    </mat-card>
    <mat-card>
        <mat-card-title>Amusement and Games</mat-card-title>
        <app-gamesblurb></app-gamesblurb>
        <mat-nav-list>
            <mat-list-item (click)="groupView('games_people')">
                <button mat-icon-button>
                    <mat-icon>{{getGroupIcon("games_people")}}</mat-icon>
                    {{getGroupText("games_people")}}
                </button>
            </mat-list-item>
        </mat-nav-list>
    </mat-card>
    <mat-card>
        <mat-card-title>Litigation</mat-card-title>
        <app-litigationteamblurb></app-litigationteamblurb>
        <mat-nav-list>
            <mat-list-item (click)="groupView('litigation_people')">
                <button mat-icon-button>
                    <mat-icon>{{getGroupIcon("litigation_people")}}</mat-icon>
                    {{getGroupText("litigation_people")}}
                </button>
            </mat-list-item>
        </mat-nav-list>
    </mat-card>
</div>