<footer>
    <div fxLayout='row' fxLayout.lt-md="column" fxLayoutAlign='space-between center'>
        <div fxLayoutGap=10px>
            <a href='tel:0352763241'>
                <button mat-mini-fab color="primary" aria-label="Phone Ohtsuka Patent Office">
                    <mat-icon>phone</mat-icon>
                </button>
            </a>
            <a href='mailto:opt@patest.co.jp'>
                <button mat-mini-fab color="primary" aria-label="Phone Ohtsuka Patent Office">
                    <mat-icon>email</mat-icon>
                </button>
            </a>
            <a routerLink="/contactpage" (click)=clickAccess()>
                <button mat-mini-fab color="primary" aria-label="Phone Ohtsuka Patent Office">
                    <mat-icon>location_on</mat-icon>
                </button>
            </a>
        </div>

        <span class='copyrighttext'>
            Copyright© OHTSUKA PATENT OFFICE. All Rights Reserved.
        </span>
    </div>
</footer>
