<footer>
    <div fxLayout='row' fxLayout.lt-md="column" fxLayoutAlign='space-between center'>
        <div fxLayoutGap=10px>
            <a href='tel:0352763241'>
                <button mat-mini-fab color="primary" aria-label="Phone Ohtsuka Patent Office">
                    <mat-icon>phone</mat-icon>
                </button>
            </a>
            <a href="mailto:opt@patest.co.jp?subject=お問い合わせ&body=以下の項目にお問い合わせ内容を入力のうえ、メール送信してください。%0D%0A(Please fill out the following fields.)%0D%0A%0D%0A【貴社名 / Company name】%0D%0A%0D%0A【ご担当者名 / Name】%0D%0A%0D%0A【部署名 / Division】%0D%0A%0D%0A【ご住所 / Address】%0D%0A%0D%0A【お電話番号 / Phone number】%0D%0A%0D%0A【メールアドレス / E-mail】%0D%0A%0D%0A【お問い合わせ内容 / Content of your inquiry】%0D%0A%0D%0A">
                <button mat-mini-fab color="primary" aria-label="Phone Ohtsuka Patent Office">
                    <mat-icon>email</mat-icon>
                </button>
            </a>
            <a routerLink="/contactpage" (click)=clickAccess()>
                <button mat-mini-fab color="primary" aria-label="Phone Ohtsuka Patent Office">
                    <mat-icon>location_on</mat-icon>
                </button>
            </a>
        </div>

        <span class='copyrighttext'>
            Copyright© OHTSUKA PATENT OFFICE. All Rights Reserved.
        </span>
    </div>
</footer>
