<mat-card>
    <div class="container">
        <img mat-card-image src='../../../../assets/img/aboutus.jpg'>
        <div>
            <mat-card-title>
                <app-titletext [title]="getTitle()"></app-titletext>
            </mat-card-title>
        </div>

        <div class='content'>
            <app-tablerenderer [table]="getPointFormTable()"></app-tablerenderer>
        </div>
    </div>

    <br>
    <br>
    <app-contentrenderer [content]="getMainServicesContent()"></app-contentrenderer>

</mat-card>