table {
    font-family: 'crimsontext';
    width: 90%;
}
h1{
    font-family: 'crimsontext';
}
.mat-cell {
    padding: 8px 8px 8px 0;
}
.mat-header-row{
    display: none;
}
.mat-elevation-z8{
    box-shadow: none;
}