<mat-card>
    <div class="container">
        <img mat-card-image src='../../../../assets/img/boshuyoko.jpg'>
        <div class="titletext">
            <mat-card-title>募集要項</mat-card-title>
        </div>
    </div>
    <p>募集中の職種と分野は下記の通りです。応募フォームにご記入の上、ご応募ください。</p>
    <p>応募に関する秘密は厳守します。ご見学、お問い合わせはご遠慮なくお寄せください。</p>
    <br>

    <mat-tab-group mat-align-tabs="start" style='min-height:900px'>
        <mat-tab label="弁理士、特許技術者">
            <br>
            <h3><u>募集分野</u></h3>
            <p><b>情報処理・通信関連技術</b></p>
            <p>特に、画像処理、信号処理、符号化、無線通信技術、プログラミング・ソフトウェア技術、ハードウェア技術・電子回路</p>
            <p><b>自動車・機械分野"></b></p>
            <p>自動車、二輪車の制御（自動運転を含む）、メカニズム、生産技術、ロボット</p>
            <p><b>薬学・化学</b></p>
            <p>特に、医薬品（合成・製剤）、高分子材料、無機材料、機能性材料</p>
            <br>
            <h3><u>応募資格</u></h3>
            <ul>
                <li>
                    弁理士、弁理士試験合格者、弁理士希望の技術者
                </li>
                <li>
                    サイエンスの基礎知識をベースに、自分の専門を中心に広がりのある担当分野を持てる方。
                </li>
            </ul>
            <br>
            <h3><u>主な仕事内容</u></h3>
            <ul>
                <li>日本、海外の特許出願</li>
                <li>特許侵害事件などの訴訟</li>
                <li>審判</li>
                <li>海外訴訟支援</li>
                <li>特許の調査</li>
                <li>特許の検討</li>
                <li>鑑定</li>
                <li>企業へのアドバイス</li>
                <li>スタートアップ企業への支援</li>
            </ul>
            <br>
            <h3><u>雇用形態</u></h3>
            <ul>
                <li>正所員</li>
                <li>契約所員</li>
                <li>但し、分野、経験、年齢などにより、適宜の雇用・仕事形態を考慮します。</li>
            </ul>
            <br>
            <h3><u>勤務地</u></h3>
            <p>東京都千代田区紀尾井町</p>
            <app-officecard></app-officecard>
            <br>
            <h3><u>給与・待遇</u></h3>
            <p>プロフェッショナルとしての素養、前職、経験、期待値からのしっかりとした基本給に、毎月の成果を加算する給与体系を３５年前から導入し、成果の還元と明瞭化を図っています。</p>
            <br>
            <h3><u>福利厚生</u></h3>
            <ul><li *ngFor="let item of getFukurikousei()">{{item}}</li></ul>
            <br>
            <h3><u>応募方法</u></h3>
            <p>履歴書（写真貼付）、職務経歴書を<a href="mailto:hiroyuki.yasue@patest.co.jp">Eメール</a>または、<a routerLink="/contactpage">郵送</a>ください。</p>
            <p>採用担当者：安江</p>
        </mat-tab>

        <mat-tab label="事務管理部門">
            <br>
            <h3><u>事務(国内・国際案件担当)</u></h3>
            <p>日本の企業活動の大きな部分が海外で行われ、外国の企業も日本で活発に活動しています。</p>
            <p>これらの企業活動を支える特許、意匠、商標などの知的財産分野の仕事は国際的な性格の仕事で、新しい価値を創造します。</p>
            <p>プロフェッショナルな感覚・グローバルな感覚で仕事をできる方を募集しています。</p>
            <p>事務部門の主な仕事は、外部に対しては窓口、内部では弁理士・技術部門を管理面からリードする進行役で、日本、外国への特許出願の準備、内外のクライアントとの連絡業務、出願・訴訟案件の管理を担っていただきます。</p>
            <p>特許の他に、意匠や商標など親しみやすい仕事もあります。</p>
            <p>経験、スキルを積むことで、徐々に専門性の高い仕事、管理業務が用意され、プレーヤー兼マネジャーへの成長意欲のある方を求めています。</p>
            <p>新聞に登場するようなクライアントとのメールの交換、世の中の動きを感じられるような仕事が待ち受けています。</p>
            <p>事務所は、赤坂見附から至近の紀尾井町にあり、桜の時期は、駅から事務所への道が花吹雪で埋まる清水谷公園の隣にあります。</p>
            <p>所内での連携・コミュニケーションを通してのスキルアップが事務所のモットーです。週一で開かれる昼食会には、お誘いが来ます。仕事、雰囲気、環境をエンジョイしてください。</p>
            <h3><u>雇用形態</u></h3>
            <ul>
                <li>正所員</li>
                <li>アルバイト</li>
                <li>契約</li>
            </ul>
            <h3><u>勤務地</u></h3>
            <p>東京都千代田区紀尾井町</p>
            <app-officecard></app-officecard>
            <br>
            <h3><u>福利厚生</u></h3>
            <ul><li *ngFor="let item of getFukurikousei()">{{item}}</li></ul>
            <br>
            <h3><u>応募方法</u></h3>
            <p>履歴書（写真貼付）、職務経歴書を<a href="mailto:hiroyuki.yasue@patest.co.jp">Eメール</a>または、<a routerLink="/contactpage">郵送</a>ください。</p>
            <p>採用担当者：安江</p>
        </mat-tab>

        <mat-tab label="図面トレーサー">
            <br>
            <h3><u>図面トレーサー</u></h3>
            <p>在宅、または契約に基づき、機械分野の特許図面のトレースをイラストレータで作成できる方</p>
            <h3><u>応募資格</u></h3>
            <p>特許図面のトレースをイラストレータで作成できる。特許図面のトレースの経験者</p>
            <p>ご経験、希望料金、標準納期を明記の上、応募ください。</p>
            <h3><u>勤務地</u></h3>
            <p>東京都千代田区紀尾井町</p>
            <app-officecard></app-officecard>
            <br>
            <h3><u>応募方法</u></h3>
            <p>履歴書（写真貼付）、職務経歴書を<a href="mailto:hiroyuki.yasue@patest.co.jp">Eメール</a>または、<a routerLink="/contactpage">郵送</a>ください。</p>
            <p>採用担当者：安江</p>
        </mat-tab>
    </mat-tab-group>


</mat-card>
<br>