<mat-card>
    <div class="container">
        <img mat-card-image src='../../../../assets/img/workenv.jpg'>
        <div>
            <mat-card-title>
                <app-titletext [title]="getTitle()"></app-titletext>
            </mat-card-title>
        </div>
    </div>
    <p>私どもの仕事、成果そして現状をご理解いただくためのページです。当事務所への理解を深めていただければ幸甚に存じます。</p>
    <p>タフな仕事に精力的に対処しながら、3年後、5年後の将来に期待する新人を育て上げる体制と、それを支える元気なクライアント環境を当事務所は用意しています。</p>
    <p>特許は自社の技術を守り、自社製品を特徴づけ、競争での優位さを発揮させる貴重な財産です。 発明を企業の守り神の特許に育てる仕事と、その活用・防御を主な仕事にしています。 当事務所は、特許の取得、訴訟を通じ、多くの成果をあげ、世界のトップレベルのクライアントと共に発展しています。</p>
    <p>情報処理、通信、機械、化学分野での豊富な知財・技術経験者、特許庁での審査官経験者、専門性を持つ弁理士、これからを夢見るメンバーで事務所を構成して、高い技術力と貴重な経験を活かし、信頼性のある仕事を迅速かつ効率的に提供することを心がけています。</p>
    <p>当事務所では、知的財産権の保護・活用が叫ばれる時代を先取りし、弁理士・弁護士や、提携先の法律事務所と特許技術者が一体となり、クライアントのニーズに充分にお応えできる環境を整え、特許出願に加え特許関連裁判も数多く手がけるなど、知的財産分野における総合サービスを提供する、安定の中で、ダイナミックな仕事を遂行できる体制を築いています。</p>
    <p>情報処理、画像処理、移動体通信（3G, 4G, 5G）、メカトロニクス、自動車、電気・電子回路、有機化学、医薬・医療機器など、ハイテク分野を中心にした専門性の高い当事務所は、2020年12月までに28,000件以上の特許を取得しています。海外でも13,000件以上の特許を取得しています。このアクティビティは業界でも指折りの実績です。海外の有力誌も当事務所を日本の代表する事務所の一つにあげ、高く評価をしています。高い専門性を持つ大勢のプロフェッショナルの集う当事務所で貴方の力を発揮し、夢を実現してください。</p>
    <br>
    <h2><b>自由な雰囲気・貴方の成長を支援する環境です！</b></h2>
    <br>
    <p>所員同士でお互いにレベルアップを実現する雰囲気のもと、特許の取得から活用まで幅広い責任のある仕事を用意しています。出願から訴訟まで、そして欧米からアジアまでカバーできるサービス体制は、更なる発展可能性を持っています。外国の顧客や特許事務所との付き合いも密です。日本語だけの仕事は先ずありません。英語と日本語が行き交います。特許実務・技術・英語のスキル等は自然と向上していきます。国内外を問わず多様なお客様、専門家と仕事をすることができます。</p>
    <p>事務所は長年にわたって築いた研修システムを持っています。経験の少ない方でも、じっくりと専門家に育て上げます。仕事は迅速がモットーですが、案件に応じ、電気・機械・化学の熟練した弁理士の目で、あるいは特許庁審査官・審判官経験の目で、更には弁護士の目で案件を練り上げる質の向上欲と仕事の丁寧さを大事にします。</p>
    <p>明るいパーソナリティの方、どうぞお問い合わせ、ご応募ください。</p>
    <br>
    <a routerLink="/boshuyokopage"><h2>募集要項</h2></a>
    <p>当事務所への募集要項をご紹介しております。</p>
    <br>
</mat-card>
<br>