<div>
    <div fxShow="true" fxHide.lt-md="true" flexLayout='row' fxFlex  fxLayoutAlign="space-between start" fxLayout.lt-md="column">
        <div fxFlex="1"></div>
        <div fxFlex="30">
            <app-staticcard [type]="'welcome'"></app-staticcard>
        </div>
        <div fxFlex="30">
            <app-staticcard *ngIf="getLang()=='JP'" [type]="'cafc'"></app-staticcard>
            <app-staticcard *ngIf="getLang()=='EN'" [type]="'guidance'"></app-staticcard>
        </div>
        <div fxFlex="30">
            <app-staticcard [type]="'team'"></app-staticcard>
        </div>
        <div fxFlex="1"></div>
    </div>

    <div fxHide="true" fxShow.lt-md="true">
        <div class="marginedcard">
            <app-staticcard [type]="'welcome'"></app-staticcard>
        </div>
        <div class="marginedcard">
            <app-staticcard *ngIf="getLang()=='JP'" [type]="'cafc'"></app-staticcard>
            <app-staticcard *ngIf="getLang()=='EN'" [type]="'guidance'"></app-staticcard>
        </div>
        <div class="marginedcard">
            <app-staticcard [type]="'team'"></app-staticcard>
        </div>
    </div>
</div>
<br>
<app-footer width=100%></app-footer>