.titledivmobile {
    position: absolute;
    font-weight: normal;
    font-size: 0.7em;
    left: 1%;
    top: 1%;
}
.titlediv {
    position: absolute;
    font-weight: normal;
    font-size: 1.0em;
    left: 2%;
    top: 2%;
}
.titletext {
    color: white !important;
    line-height: 40px;
}
.darkened {
    background-color: rgba(0,0,0,0.1);
}
.mat-card-content{
    width: 100%;
}
