.titletext {
    color: white;
    position: absolute;
    left: 36px;
    top: 55px;
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
}
.titletextmobile {
    color: white;
    position: absolute;
    left: 36px;
    top: 55px;
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
}