<mat-card>
    <div class="container">
        <img mat-card-image src='../../../../assets/img/setsumeikaiguide.jpg'>
        <div class="titletext">
            <mat-card-title>
                <app-titletext [title]="'事務所説明会のご案内'"></app-titletext>
            </mat-card-title>
        </div>
    </div>
    <p>事務所の特徴やアクティビティなどを和やかな雰囲気でお伝えすると共に、皆様の質問にお答えする場として、事務所説明会を開催しています。</p>
    <p>当事務所にご興味のお持ちの方、特許の世界で活躍したい方のご参加を是非お待ちしています。</p>

    <br>

    <h2><b>日時</b></h2>
    <p>ご都合に合わせ日時を設定します。時刻は夕方でも結構です。</p>
    <h2><b>場所</b></h2>
    <a routerLink="/contactpage">大塚国際特許事務所 （千代田区紀尾井町）</a>
    <app-officecard></app-officecard>
    <h2>内容</h2>
    <br>
    <ul>
        <li>事務所概要</li>
        <li>近況</li>
        <li>仕事の進め方、内容</li>
        <li>待遇やご希望の伺い</li>
    </ul>
    <br>
    皆様への期待、事務所の現状、方向性を説明致します。
    <br>
    <p>以下のような疑問・ご要望を投げかけてください。</p>
    <ul>
        <li>
            大塚国際特許事務所について知りたい
        </li>
        <li>
            自分の経験、スキルと大塚国際特許事務所とのマッチング？
        </li>
        <li>
            希望する待遇をお話したい。
        </li>
        <li>
            大学、企業で磨いた技術をベースに特許の世界で活躍したいが、実際の特許の世界とはどのような所か？
        </li>
        <li>
            仕事をしながら弁理士資格を取得する方法を知りたい。
        </li>
        <li>
            特許、商標など新しい価値を創造する職場で、事務スタッフとして仕事をしたいが、どのような仕事が待っているのか？
        </li>
    </ul>
    <h2><b>申し込み方法</b></h2>
    <p>以下の事項をご記入の上、emailにてお申し込みください。</p>
    <p>申し込み先：<a href='mailto:hiroyuki.yasue@patest.co.jp'>hiroyuki.yasue@patest.co.jp</a></p>
    <p>担当：安江</p>
    <ul>
        <li>氏名</li>
        <li>年齢</li>
        <li>email アドレス</li>
        <li>主なご経歴</li>
        <li>ご希望・（得意な分野と担当希望の分野）特技（例えば英語がネイティブレベルとか、優れたプログラミング技術）をお持ちの方は教えてください。</li>
        <li>質問、確認事項</li>
    </ul>
    <p>ご提供の情報の秘密を厳守します。</p>
</mat-card>
<br>