<mat-card>
    <div class="container">
        <img mat-card-image src='../../../../assets/img/careers.jpg'>
        <div class="titletext">
            <mat-card-title>{{getTitle()}}</mat-card-title>
        </div>
    </div>
    <h2>{{getPatandEngTitle()}}</h2>
    <p *ngFor="let para of getPatandEngParas()">
        {{para}}
    </p>
    <br>
    <h3>{{getJobOutlineTitle()}}</h3>
    <ul>
        <li *ngFor="let joboutline of getJobOutlinePatandEngParas()">
            {{joboutline}}
        </li>
    </ul>
</mat-card>
<br>
<mat-card>
    <h2>{{getTranslationTitle()}}</h2>
    <p *ngFor="let para of getTranslationParas()">
        {{para}}
    </p>
    <h3>{{getJobOutlineTitle()}}</h3>
    <ul>
        <li>Japanese to English translation</li>
        <li>English review</li>
        <li>Providing assistance in creating documents in English (e.g. patent specifications or communication with
            clients)</li>
        <li>Communication support (e.g. attending meetings, recording minutes in English)</li>
        <li>Assistance with document review (e.g. screening English documents, creating abstracts)</li>
    </ul>
    <br>
    <p *ngFor="let para of getCareerContactParas()">{{para}}<a href="mailto:masa.baba@patest.co.jp">masa.baba@patest.co.jp</a></p>
</mat-card>
<br>
<mat-card>
    <h2>{{getSelectionTitle()}}</h2>
    <p *ngFor="let para of getSelectionParas()">
        {{para}}
    </p>
</mat-card>
<br>