
<div fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="20px">
    <mat-card>
        <div class="container">
            <img mat-card-image src='../../../../assets/img/careers.jpg'>
            <div class="titletext"><mat-card-title>Careers</mat-card-title></div>
        </div>
        <h2>Patent Attorneys and Engineers</h2>
        <p>Ohtsuka Patent Office is looking for a native English speaker with a good academic record and excellent Japanese skills having a background in the fields of computers, telecommunications, mechanics, chemicals or pharmaceuticals.</p>
        <p>Ohtsuka Patent Office manages international patent prosecution and litigation in fields such as IT and pharmaceuticals, and has as clients companies active in Japan and abroad. Because we have a work environment that mixes work for abroad and Japan, you can further your IP career from a Japanese perspective.</p>
        <p>If you are looking for platform to expand your career and are excited about applying your unique perspective to technology oriented legal issues, we look forward to meeting you.</p>
        <p>Please join our team where there is very stable and long lasting international client platform on which you can expand and deepen your career.</p>
        <br>
        <h3>Job Outline</h3>
        <ul>
            <li>Patent prosecution</li>
            <li>Patent litigation</li>
            <li>Patent/technology related communications and translations</li>
            <li>Patent counseling</li>
        </ul>
    </mat-card>
    <mat-card>
        <h2>Translation/Communication Staff</h2>
        <p>(full-time or part-time)</p>
        <p>The fundamentals of the position are to accurately and promptly report matters to your clients, and to forge dependable communication. Therefore, it is essential to add an English speaker with Japanese skill to our team of Japanese nationals. With your English and Japanese ability, we will ask you to improve the quality of communication and reports, help meetings run smoothly, and make our service for foreign clients more appealing.</p>
        <p>Please join our team if you have an interest in the field of IP or are a science or engineering student who wishes to move into the world of IP in the future.</p>
        <p>Your work hours are negotiable.</p>
        <h3>Job Outline</h3>
        <ul>
            <li>Japanese to English translation</li>
            <li>English review</li>
            <li>Providing assistance in creating documents in English (e.g. patent specifications or communication with clients)</li>
            <li>Communication support (e.g. attending meetings, recording minutes in English)</li>
            <li>Assistance with document review (e.g. screening English documents, creating abstracts)</li>
        </ul>
        <br>
        <p>Please email your CV to <a href="mailto:masa.baba@patest.co.jp">masa.baba@patest.co.jp</a></p>
    </mat-card>
    <mat-card>
        <h2>Selection process:</h2>
        <p>We will review your CV and contact you about an interview.</p>
    </mat-card>
</div>