<br>
<div>
    <div flexLayout='row' fxFlex  fxLayoutAlign="space-between start" fxLayoutGap="20px">
        <!--PC-->
        <div fxFlex='5' fxShow="true" fxHide.lt-md="true">
        </div>
        <div fxFlex='20' fxShow="true" fxHide.lt-md="true">
            <app-sidebar></app-sidebar>
        </div>
        <div fxFlex='70' fxShow="true" fxHide.lt-md>
            <app-patentsandutilitymodels *ngIf="isPatent()"></app-patentsandutilitymodels>
            <app-designsandtrademarks *ngIf="isDesign()"></app-designsandtrademarks>
            <app-litigationandstrategy *ngIf="isLitigation()"></app-litigationandstrategy>
            <app-courtcasereports *ngIf="isCourt()"></app-courtcasereports>
        </div>
        <div fxFlex='5' fxShow="true" fxHide.lt-md="true">
        </div>
        <!--MOBILE-->
        <div fxFlex='5' fxHide fxShow.lt-md></div>
        <div fxFlex='90' fxHide fxShow.lt-md>
            <!-- first what is set -->
            <app-patentsandutilitymodels *ngIf="isPatent()"></app-patentsandutilitymodels>
            <app-designsandtrademarks *ngIf="isDesign()"></app-designsandtrademarks>
            <app-litigationandstrategy *ngIf="isLitigation()"></app-litigationandstrategy>
            <app-courtcasereports *ngIf="isCourt()"></app-courtcasereports>
            <br>
            <!-- then the rest-->
            <app-patentsandutilitymodels *ngIf="!isPatent()"></app-patentsandutilitymodels>
            <br *ngIf="!isPatent()">
            <app-designsandtrademarks *ngIf="!isDesign()"></app-designsandtrademarks>
            <br *ngIf="!isDesign()">
            <app-litigationandstrategy *ngIf="!isLitigation()"></app-litigationandstrategy>
            <br *ngIf="!isLitigation()">
            <app-courtcasereports *ngIf="!isCourt()"></app-courtcasereports>
        </div>
        <div fxFlex='5' fxHide fxShow.lt-md></div>
    </div>
</div>
<br>
<div>
    <app-footer width=100%></app-footer>
</div>
    