.subitem{
    margin-left: 5%;
    width: 95%;
}
.sitemaplink{
    width: 100%;
}
.sitemapbutton{
    width: 100%;
}
.linkdiv{
    background-color: lightgray;
}
.activelang{
    color: rgb(184, 51, 51);
}
.inactivelang{
    color: rgb(150,150,150);
}