<mat-nav-list>
    <div *ngIf="isSplashPage()" [matTooltip]="getLangToggleToolTip()" class='linkdiv' (click)="toggleLang()">
        <button mat-button>
            <img [src]='getImgSrc()' height='32px'>
        </button>
    </div>
    <mat-divider *ngIf="isSplashPage()"></mat-divider>
    <div *ngFor="let page of getPages()">
        <div>
            <a routerLink="{{page.routerlink}}" mat-list-item
                (click)="openLink(page.mainpage,page.defaultsubpage)">{{getPageText(page)}}</a>
            <mat-list-item *ngFor="let link of getLinks(page)" (click)="openLink(page.mainpage,link.subPage)">
                <a class='sitemaplink' routerLink="{{link.routerlink}}" fxLayoutAlign='start start'>
                    <button class='sitemapbutton' mat-icon-button fxLayoutAlign='start start'>
                        <mat-icon>{{link.icon}}</mat-icon>
                        {{getText(link)}}
                    </button>
                </a>
            </mat-list-item>
            <mat-divider></mat-divider>
        </div>

    </div>
</mat-nav-list>