<div>
    <mat-card>
        <!--<img mat-card-image src='../../../../assets/img/design.jpg'>-->
        <div class="container">
            <img mat-card-image src='../../../../assets/img/design.jpg'>
            <!--<img mat-card-image src='../../../../assets/img/design.png'>-->
            <div>
                <mat-card-title>
                    <app-titletext [title]="getDesignTitle()"></app-titletext>
                </mat-card-title>
            </div>
        </div>
        <p *ngFor="let para of getDesignParas()">
            {{para}}
        </p>
        <!-- <app-designsblurb></app-designsblurb> -->
    </mat-card>
    <br>
    <mat-card>
        <div class="container">
            <img mat-card-image src='../../../../assets/img/brand.jpg'>
            <div>
                <mat-card-title>
                    <app-titletext [title]="getTrademarkTitle()"></app-titletext>
                </mat-card-title>
            </div>
        </div>
        <p *ngFor="let para of getTrademarkParas()">
            {{para}}
        </p>
        <!-- <app-trademarksblurb></app-trademarksblurb> -->
    </mat-card>
</div>