<div>
    <mat-card>
        <!--<img mat-card-image src='../../../../assets/img/design.jpg'>-->
        <div class="container">
            <img mat-card-image src='../../../../assets/img/design.jpg'>
            <!--<img mat-card-image src='../../../../assets/img/design.png'>-->
            <div>
                <mat-card-title>
                    <app-titletext [title]="getDesignTitle()"></app-titletext>
                </mat-card-title>
            </div>
        </div>
        <h2>{{getDesignTitle().text}}</h2>
        <p *ngFor="let para of getDesignParas()">
            {{para}}
        </p>
        <app-paragraphrenderer *ngIf="isEnglish()" [paragraph]="getCheckOutDesignGuide()"></app-paragraphrenderer>
    </mat-card>
    <br>
    <mat-card>
        <div class="container">
            <img mat-card-image src='../../../../assets/img/brand.jpg'>
            <div>
                <mat-card-title>
                    <app-titletext [title]="getTrademarkTitle()"></app-titletext>
                </mat-card-title>
            </div>
        </div>
        <h2>{{getTrademarkTitle().text}}</h2>
        <p *ngFor="let para of getTrademarkParas()">
            {{para}}
        </p>
        <app-paragraphrenderer *ngIf="isEnglish()" [paragraph]="getCheckOutTMGuide()"></app-paragraphrenderer>
    </mat-card>
</div>