<!--<h1>Litigation, Patent Strategies, and Patent Searches</h1>-->
<div fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="20px">
    <mat-card>
        <div class="container">
            <img mat-card-image src='../../../../assets/img/litigation.jpg'>
            <div class="titletext"><mat-card-title>Litigation</mat-card-title></div>
        </div>
        <app-litigationblurb></app-litigationblurb>
    </mat-card>
    <mat-card>
        <div class="container">
            <img mat-card-image src='../../../../assets/img/strategy.jpg'>
            <div class="titletext"><mat-card-title>Patent Strategies</mat-card-title></div>
        </div>
        <app-patentstrategiesblurb></app-patentstrategiesblurb>
    </mat-card>
    <mat-card>
            <div class="container">
                <img mat-card-image src='../../../../assets/img/search.jpg'>
                <div class="titletext"><mat-card-title>Patent Searches</mat-card-title></div>
            </div>
        <app-patentsearchesblurb></app-patentsearchesblurb>
    </mat-card>
</div>