<div>
    <mat-card>
        <div class="container">
            <img mat-card-image src='../../../../assets/img/litigation.jpg'>
            <div>
                <mat-card-title>
                    <app-titletext [title]="getLitTitle()"></app-titletext>
                </mat-card-title>
            </div>
        </div>
        <h2>{{getLitTitle().text}}</h2>
        <p *ngFor="let para of getLitParas()">
            {{para}}
        </p>
        <!-- <app-litigationblurb></app-litigationblurb> -->
    </mat-card>
    <br>
    <mat-card>
        <div class="container">
            <img mat-card-image src='../../../../assets/img/strategy.jpg'>
            <div>
                <mat-card-title>
                    <app-titletext [title]="getPatStratTitle()"></app-titletext>
                </mat-card-title>
                
            </div>
        </div>
        <h2>{{getPatStratTitle().text}}</h2>
        <p *ngFor="let para of getPatStratParas()">
            {{para}}
        </p>
        <!-- <app-patentstrategiesblurb></app-patentstrategiesblurb> -->
    </mat-card>
    <br>
    <mat-card>
        <div class="container">
            <img mat-card-image src='../../../../assets/img/search.jpg'>
            <div>
                <mat-card-title>
                    <app-titletext [title]="getPatSearchTitle()"></app-titletext>
                </mat-card-title>
            </div>
        </div>
        <h2>{{getPatSearchTitle().text}}</h2>
        <p *ngFor="let para of getPatSearchParas()">
            {{para}}
        </p>
        <!-- <app-patentsearchesblurb></app-patentsearchesblurb> -->
    </mat-card>
</div>