<div>
    <mat-card>
        <div class="container">
            <img mat-card-image src='../../../../assets/img/litigation.jpg'>
            <div class="titletext">
                <mat-card-title>{{getLitTitle()}}</mat-card-title>
            </div>
        </div>
        <p *ngFor="let para of getLitParas()">
            {{para}}
        </p>
        <!-- <app-litigationblurb></app-litigationblurb> -->
    </mat-card>
    <br>
    <mat-card>
        <div class="container">
            <img mat-card-image src='../../../../assets/img/strategy.jpg'>
            <div class="titletext">
                <mat-card-title>{{getPatStratTitle()}}</mat-card-title>
            </div>
        </div>
        <p *ngFor="let para of getPatStratParas()">
            {{para}}
        </p>
        <!-- <app-patentstrategiesblurb></app-patentstrategiesblurb> -->
    </mat-card>
    <br>
    <mat-card>
        <div class="container">
            <img mat-card-image src='../../../../assets/img/search.jpg'>
            <div class="titletext">
                <mat-card-title>{{getPatSearchTitle()}}</mat-card-title>
            </div>
        </div>
        <p *ngFor="let para of getPatSearchParas()">
            {{para}}
        </p>
        <!-- <app-patentsearchesblurb></app-patentsearchesblurb> -->
    </mat-card>
</div>