a {
    color: black;
    text-align: center;
    display: inline-block;
}
a:hover, a:active {
    color: rgb(184, 51, 51);
}
a:active {
    background-color: rgb(250,250,250);
}
.activenav{
    color: rgb(184, 51, 51);
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
.underline {
    text-decoration: underline;
}