<!-- PC VIEW -->
<button  fxShow fxHide.lt-md class='menubutton' mat-stroked-button color="accent" [matTooltip]="getMenuToolTip()" (click)="openSitemap()">
    <mat-icon>menu</mat-icon>
    &nbsp;MENU
</button>
<div class="topbar" fxShow fxHide.lt-md fxLayout='row' fxLayoutAlign='end center' fxLayoutGap>
    <div class='topbarelement linkdiv' fxLayoutAlign='center center'>
        <a routerLink="/contactpage" (click)="clickContact()">
            <button class='highlightbutton' mat-button>
                <mat-icon fxShow fxHide.lt-sm>local_phone</mat-icon>
                {{getContactText()}}
            </button>
        </a>
    </div>
    <div class='topbarelement linkdiv' fxLayoutAlign='center center'>
        <div (click)="toggleLang()">
            <button mat-button>
                <img [src]='getImgSrc()' height='32px'>
            </button>
        </div>
    </div>
</div>
<!-- MOBILE VIEW -->
<div class='topbar' fxHide fxShow.lt-md fxLayout='row' fxLayoutAlign='space-between stretch' fxLayoutGap="20px">
    <div class='linkdiv'>
        <a routerLink="/contactpage" (click)="clickContact()">
            <button class='highlightbutton' mat-button>
                <mat-icon>local_phone</mat-icon>
                {{getContactText()}}
            </button>
        </a>
    </div>
    <div class='linkdiv' (click)="toggleLang()">
        <button mat-button>
            <img [src]='getImgSrc()' height='32px'>
        </button>
    </div>
</div>