td, th {
    padding: 20px !important;
}
.hide{
    display: none;
}
.mobiletable{
    display: block;
    width: 100vw;
    max-width: 300px;
    overflow-x: scroll;
}
.noshadow {
    box-shadow: none;
}