<mat-card>
    <div class="container">
        <img mat-card-image src='../../../../assets/img/setsumei.jpg'>
        <div>
            <mat-card-title>
                <app-titletext [title]="'事務所の説明会'"></app-titletext>
            </mat-card-title>
        </div>
    </div>
    <p>IOTで代表される情報・通信関連技術と、その応用分野に弊所は強みを持ち、その実績は日本のトップ5に常に入っています。</p>
    <p>自動車分野や医薬の分野で実績を上げるとともに、パワーを一気に吐き出す訴訟などの出番が増え、メンバーの強化と増員に努めています。</p>
    <p>仕事は、ベースの特許出願に加え、企業活動に密着した訴訟、審判、調査、オピニオンワークなど多岐に渡ります。</p>
    <p>ご自身のコアの技術を基に蓄えた実力を特許・知財の世界で、生き生きと発揮したい方を求めています。</p>
    <p>募集は将来への投資です。事務所は成長の場を提供します。経験豊富なメンバーと一緒に仕事し、特許の世界で活躍してください。</p>
    <br>
    <h2><b>チームの増員とチーム力のアップを目指し、弁理士（技術者）を募集しています。</b></h2>
    <br>
    <h2>希望の人材像</h2>
    <ul>
        <li>
            ラグビーに例えれば、チームプレーを好む方。勿論、俊足の方も大歓迎です。  
        </li>
        <li>
            Coreとなる技術を持つ方。
        </li>
        <li>
            前向きで国際性を発揮できる方。
        </li>
        <li>
            情況に沿って積極的な方向に舵を向けられる方。
        </li>
        <li>
            役立つ経験、魅力を持ち込める方。
        </li>
    </ul>
    <br>
    <a routerLink="/boshuyokopage"><h2>募集要項</h2></a>
    <p>当事務所への募集要項をご紹介しております。</p>
    <br>
    <a routerLink="/workenvironmentpage"><h2>事務所の仕事環境</h2></a>
    <p>私どもの仕事、事務所の雰囲気、成果などをご理解いただくページです。</p>
    <br>
</mat-card>
<br>