<mat-card>
    <div class="container">
        <img mat-card-image src='../../../../assets/img/setsumei.jpg'>
        <div>
            <mat-card-title>
                <app-titletext [title]="getTitle()"></app-titletext>
            </mat-card-title>
        </div>
    </div>
    <h2>弁理士・特許技術者</h2>
    <p>IoTで代表される情報・通信関連技術と、その応用分野に当事務所は特に強みを持ち、その実績は日本のトップ5に常に入っています。</p>
    <p>カバーする主な技術分野は、情報処理、通信関連技術、電子回路系（AI, IT, IoT）、自動車、半導体、回路、デバイス、制御、医薬、化学などです。</p>
    <p>自動車や医薬の分野で実績を上げるとともに、根強いIT分野からの要望やパワーを一気に吐き出す訴訟などの出番が増え、メンバーの強化と増員に努めています。</p>
    <p>仕事は特許出願をベースとしながら、訴訟、審判、調査、オピニオンワークなど多岐に渡ります。</p>
    <p>お持ちの実力・経験を私共の仕事の中で発揮していただき、新たなパワーと息吹を吹き込んでください。</p>
    <p>共に元気よく成長し、良き未来を作りましょう。</p>
    <br>
    <p>事務分野</p>
    <br>
    <p>コロナ禍の中でワクチン関連の特許の解放が国際的な話題になりました。</p>
    <p>特許は全産業に関わりのある、案外身近な所にもある重要な仕事です。また、相当なエネルギーが外国に向けられる国際的な仕事でもあります。</p>
    <p>職場では、外部に対しては窓口、内部では弁理士・技術部門を管理面からリードする進行役を担って戴きます。</p>
    <p>手続き、法律など仕事上で学ことが多く、経験と共に専門性と評価を高め、努力が報われる仕事です。</p>
    <br>
    <h2><b>チームの増員とチーム力のアップを目指し、弁理士（技術者）、事務部門で募集を行っています。</b></h2>
    <br>
    <h2>希望の人材像</h2>
    <ul>
        <li>
            Coreとなる技術を持つ方。
        </li>
        <li>
            前向きで国際性を発揮できる方。
        </li>
        <li>
            情況に沿って積極的な方向に舵を向けられる方。
        </li>
        <li>
            役立つ経験、スキル、魅力を持ち込める方。
        </li>
        <li>
            管理能力、情報発信力のある方。
        </li>
    </ul>
    <br>
    <a routerLink="/boshuyokopage"><h2>募集要項</h2></a>
    <p>当事務所への募集要項をご紹介しております。</p>
    <br>
    <a routerLink="/workenvironmentpage"><h2>事務所の仕事環境</h2></a>
    <p>私どもの仕事、事務所の雰囲気、成果などをご理解いただくページです。</p>
</mat-card>
<br>