<mat-nav-list >
    <mat-list-item *ngFor="let item of getMenu().links">
        <a [routerLink]="item.routerlink" fxLayoutAlign='start center' matLine  (click)="clickItem(item.subPage, item.curPage)">
            <button class='sidebutton' fxLayoutAlign='start start' mat-icon-button [ngClass]="{'listitemactive': item.subPage == this.highlight }">
                <mat-icon>{{item.icon}}</mat-icon>
                {{getText(item)}}
            </button>
        </a>
        <mat-divider *ngIf="item.type=='main-group'"></mat-divider>
        <mat-divider *ngIf="item.type=='last-in-group'"></mat-divider>
    </mat-list-item>
</mat-nav-list>