<span *ngIf="getTreeMode()==false">
    <mat-card class="person-card">
            <mat-card-content>
            <table>
            <tr>
                <td>
                    <b>JP Design Registration No:</b>
                </td>
                <td>
                    {{getRegno()}}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Applicant:</b>
                </td>
                <td>
                    {{getApplicant()}}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Title:</b>
                </td>
                <td>{{getTitle()}}</td>
            </tr>
            <tr *ngIf="hasShort()">
                <td>
                    <b>Our comment:</b>
                </td>
                <td>{{getShort()}}</td>
            </tr>
            </table>
            <br>
            <div *ngIf="hasDescription()"> 
                <app-contentrenderer [guide]="getGuide()" [bTreeMode]="false" [content]="getDescription()"></app-contentrenderer>
            </div>
            <app-elementgridrenderer [grid]="getImages()"></app-elementgridrenderer>
        </mat-card-content>
    </mat-card>
    <br>
</span>